@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import "bootstrap/dist/css/bootstrap.min.css";

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 14.5px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

.separator {
    // margin: 18px auto 0;
    margin: auto;
    height: 18px;
    width: 90%;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
    cursor: pointer;
    // user-select: none;
    // text-align: center;
    // font-size: 18px;
    // font-weight: bold;
}

.initial-text {
    font-size: 16px;
    margin-top: 5px !important;
}

#wrapper {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;

    // Needed so that the accordions are not displayed over the shadows of these elements
    header,
    footer {
        position: relative;
        z-index: 10;
    }

    header {
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            margin: 0;
            line-height: 50px;
            font-style: italic;
        }
    }

    footer {
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-top: 1px solid rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }

    #upload {
        color: #fff;
        position: fixed;
        right: 28px;
        bottom: 56px;
        opacity: 0.88;

        .btn {
            border-radius: 100%;
            width: 42px;
            height: 42px;
            text-align: center;
        }
    }
}

main {
    height: calc(100vh - 90px) !important;
}

#exercises-presentation,
#generated-set-container {
    height: calc(100vh - 90px) !important;
    overflow: auto;
    padding: 10px;
    scrollbar-width: none;

    .exercise-heading,
    .theory-presentation-heading {
        margin: 14px 0 0;

        span {
            position: relative;
            display: inline-block;
            cursor: pointer;

            &::after {
                content: "\f055";
                font-weight: 900;
                font-family: 'Font Awesome 6 Free', serif;
                position: absolute;
                top: 50%;
                transform: translateY(-46%);
                right: -23px;
                font-size: 14px;
                color:rgba(0, 60, 255, 0.7);
            }
        }
        
    }

    .exercise:first-child .exercise-heading, 
    .theory-presentation-heading:first-child {
        margin-top: 0;
    }

    .additional-heading {
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 0;
        cursor: pointer;
        text-decoration: underline;
    }

    .additional-heading + .exercise {
        .exercise-heading {
            margin-top: 2px;
        }
    }

    .main-title {
        font-weight: 700;
        text-align: center;
        margin-bottom: 0;
        cursor: pointer;
    }

    .main-title + .separator {
        height: 0;
        margin-top: 6px;
    }

    p {
        padding: 0;
        margin: 0;
    }
    
    ol {
        margin: 5px 0 0;
        counter-reset: list;

        > li {
            list-style: none;
            position: relative;

            &::before {
                content: counter(list) ")";
                counter-increment: list;
                left: -40px;
                padding-right: 10px;
                position: absolute;
                text-align: right;
                width: 40px;
            }
        }
    }
}

#exercises-presentation {
    .unit-heading {
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: bold !important;

        &:first-child {
            margin-top: 0;
        }
    }

    .accordion {
        --bs-accordion-bg: transparent;
    }

    .accordion-button:focus {
        box-shadow: none;
    }
}

#generated-set-container {
    .exercise-heading,
    .note {
        user-select: none;
    }

    .exercise-heading span::after {
        content: '\f056';
        color:rgba(255, 0, 0, 0.7);
    }

    .note {
        margin-top: 8px;
        cursor: pointer;
    }

    .note + .separator {
        height: 12px;
    }

    #buttons-container {
        margin-top: 15px;
        padding-top: 15px;
        text-align: center;
        border-top: 1px dashed rgba(0, 0, 0, 0.4);

        .btn {
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .btn:focus,
        .btn-primary:focus {
            box-shadow: none !important;
        }
    }

    .dropdown-menu {
        cursor: pointer;
    }

    .theory-presentation-img {
        margin-top: 15px;
    }
}

#generated-set-container, 
#answers {
    padding: 10px;

    .exercise-heading {
        margin: 14px 0 0;

        span {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }
        
    }

    .exercise:first-child .exercise-heading {
        margin-top: 0;
    }

    p {
        padding: 0;
        margin: 0;
    }
    
    ol {
        margin: 5px 0 0;
        counter-reset: list;

        > li {
            list-style: none;
            position: relative;

            &::before {
                content: counter(list) ")";
                counter-increment: list;
                left: -40px;
                padding-right: 10px;
                position: absolute;
                text-align: right;
                width: 40px;
            }
        }
    }
}

#change-view {
    position: absolute;
    right: 20px;
    font-size: 24px;
    display: inline-block;
    visibility: hidden;
}

@media (max-width: 767.98px) { 
    #change-view {
        visibility: visible;
    }

    #generated-set-container {
        display: none;
    }
}

.scb::-webkit-scrollbar {
    width: 9px;
}

.scb::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
}

.scb::-webkit-scrollbar-thumb {
    background-color: #11171a;
}